
.recipe-header {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-title .meal-planner-title {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.recipe-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-recipe-btn {
    margin-left: 60px !important;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    font-size: 1.1rem !important;
}

.recipe-search-bar {
    margin-right: 60px !important;
    width: 280px;
    border: none;
}

.recipe-list {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.meal-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .meal-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
  }
  
  .meal-card:hover {
    transform: scale(1.02);
  }
  
  .meal-card h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
  }
  
  .meal-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  