.meal-header{
    text-align: center;
    margin-bottom: 20px;
}

.meal-title{
    font-size: 48px;
    font-weight: bold;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.meal-list {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}