.meal-header{
    text-align: center;
    margin-bottom: 20px;
}

.meal-title{
    font-size: 48px;
    font-weight: bold;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.meal-list {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.meal-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-meal-btn {
    margin-left: 60px !important;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    font-size: 1.1rem !important;
}

.meal-search-bar {
    margin-right: 60px !important;
    width: 280px;
    border: none;
}