*{
    margin: 0px;
    padding: 0px;
}
  
body {
    font-family: "Open Sans", sans-serif;
    background: #d3d3d3 !important;
  }
  
header {
    width: 100%;
    height: 80px;
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

header .logo {
    text-decoration: none;
}
header .logo img {
    width: 50px;
    margin-left: 40px;
}
header .logo .span1 {
    color: rgb(0, 30, 129);
    font-size: 40px;
    font-weight: 700;
}
header .logo .span2 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 40px;
    font-weight: 500;
}
header .part2 {
    font-size: 23px;
}



.sidebar {
    padding-top: 80px;
    background: #fff;
    height: 100vh;
    width: 33vh;
}
.main {
    display: flex;
    width: 100vw; /* Ensure it takes full viewport width */
    width: 100%;
    overflow: hidden;
}

.content {
    flex-grow: 1; /* Makes it expand to fill available space */
    width: 100%; /* Ensure full width usage */
    margin-top: 100px;
    margin-left: 35vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    padding: 0;
}

.main .sidebarWrapper {
    transition: all 0.3s ease-in-out;
  }
  
.main .sidebarWrapper .sidebar {
    height: 100vh;
    max-height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    margin-left: 0px !important;
    overflow-x: hidden;
}

.right-content {
    padding: 100px 25px;
    background: #fff;
  }
  
  
  .DashboardBoxWrapper {
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .DashboardBoxWrapper .dashboardBox {
    width: 45%;
    height: 25%;
    background: red;
  }
